<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/login_layout">
<head>
  <title>프로필</title>
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
  <link rel="stylesheet" th:href="@{/css/profile.css}">
  <script defer src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <script defer th:src="@{/js/common_feed.js}"></script>
  <script defer th:src="@{/js/profile.js}"></script>
</head>

<th:block layout:fragment="content" th:with="auth=${#authentication.getPrincipal().getUser()}">
  <div id="localConst" th:data-iuser="${profile.iuser}"></div>
  <form th:if="${auth.iuser eq profile.iuser}" th:action="@{/user/profileImg}" method="post" enctype="multipart/form-data">
    <div>
      이미지 : <input type="file" name="imgArr" multiple accept="image/*">
      <input type="submit" value="업로드">
    </div>
  </form>
  <div id="flexContainer">
    <div>
      <table>
        <tr>
          <td>게시물</td>
          <td th:text="${profile.cntFeed}"></td>
          <td class="pointer follower">팔로워</td>
          <td class="pointer follower" th:text="${profile.cntFollower}"></td>
          <td class="pointer follow">팔로우</td>
          <td class="pointer follow" th:text="${profile.cntFollow}"></td>
          <td th:unless="${auth.iuser eq profile.iuser}">
            <th:block th:if="${profile.isMeFollowYou eq 1}">
              <input type="button" class="instaBtn instaBtnEnable" id="btnFollow" data-follow="1" value="팔로우 취소">
            </th:block>
            <th:block th:unless="${profile.isMeFollowYou eq 1}">
              <th:block th:if="${profile.isYouFollowMe eq 1}">
                <input type="button" class="instaBtn" id="btnFollow" data-follow="0" value="맞팔로우">
              </th:block>
              <th:block th:unless="${profile.isYouFollowMe eq 1}">
                <input type="button" class="instaBtn" id="btnFollow" data-follow="0" value="팔로우">
              </th:block>
            </th:block>
          </td>
        </tr>
      </table>
      <div th:with="mySrc='/pic/profile/' + ${profile.iuser} +'/' + ${profile.mainimg}">
        <th:block th:include="layout/fragments :: profileImg('profileImg', 'pointer profile w300 h300', ${mySrc})"></th:block>
      </div>

      <table>
        <tr>
          <th>email</th>
          <td th:text="${profile.email}"></td>
        </tr>
        <tr>
          <th>name</th>
          <td th:text="${profile.nm}"></td>
        </tr>
        <tr>
          <th>reg date</th>
          <td th:text="${profile.regdt}"></td>
        </tr>
      </table>
    </div>
  </div>

  <div id="item_container"></div>
  <div class="loading display-none"><img th:src="@{/img/loading.gif}"></div>

  <div class="modal-follow display-none">
    <div>
      <div class="container">
        <div class="top">
          <div id="title">팔로우</div>
          <i id="modal-follow-close" class="modal_close fas fa-times"></i>
        </div>
        <div class="followCont"></div>
      </div>
    </div>
  </div>

  <div class="modal-img display-none">
    <div class="modal_close_parent"><i class="modal_close fas fa-times"></i></div>
    <div style="background-color: white;">
      <!-- Slider main container -->
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">

          <!-- Slides -->
          <div class="swiper-slide" th:each="item : ${userImgList}">
            <div>
              <div class="profile-img-parent" th:if="${auth.iuser eq profile.iuser}" th:data-img="${item.img}">
                <i th:if="${item.img != auth.mainimg}" class="no-main-profile pointer fas fa-bell"></i>
              </div>
              <img th:src="@{/pic/profile/{iuser}/{img}(iuser=${profile.iuser}, img=${item.img})}">
            </div>
          </div>

        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>

  <script type="module">
    const swiper = new Swiper('.modal-img .swiper-container', {
      // Optional parameters
      direction: 'horizontal',
      loop: false,

      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
      },

      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },

      // And if we need scrollbar
      scrollbar: {
        el: '.swiper-scrollbar',
      },
      effect: 'fade',
      fadeEffect: {
        crossFade: true
      },
    });
  </script>

</th:block>

</html>