<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/basic_layout">

<head>
    <title>로그인</title>
    <script defer th:src="@{/js/signin.js}"></script>
</head>

<th:block layout:fragment="content">
    <h1>로그인</h1>
    <div>
        <form id="frm">
            <div><label><input type="text" name="uid" placeholder="id"></label></div>
            <div><label><input type="password" name="upw" placeholder="password"></label></div>
            <div><input type="submit" id="btn_submit" value="login"></div>
        </form>
    </div>

    <div>
        <h1>localhost</h1>
        <a th:href="@{/oauth2/authorization/naver?redirect_uri=http://localhost:8080/oauth/redirect}">네이버</a>
        <a th:href="@{/oauth2/authorization/kakao?redirect_uri=http://localhost:8080/oauth/redirect}">카카오</a>
        <a th:href="@{/oauth2/authorization/google?redirect_uri=http://localhost:8080/oauth/redirect}">구글</a>
        <a th:href="@{/oauth2/authorization/facebook?redirect_uri=http://localhost:8080/oauth/redirect}">페이스북</a>

        <h1>본인IP : 192.168.0.208 </h1>
        <a th:href="@{/oauth2/authorization/naver?redirect_uri=http://192.168.0.208:8080/oauth/redirect}">네이버</a>
        <a th:href="@{/oauth2/authorization/kakao?redirect_uri=http://192.168.0.208:8080/oauth/redirect}">카카오</a>
        <a th:href="@{/oauth2/authorization/google?redirect_uri=http://192.168.0.208:8080/oauth/redirect}">구글</a>
        <a th:href="@{/oauth2/authorization/facebook?redirect_uri=http://192.168.0.208:8080/oauth/redirect}">페이스북</a>

        <h1>http://112.222.157.156</h1>
        <a th:href="@{/oauth2/authorization/naver?redirect_uri=http://112.222.157.156:5010/oauth/redirect}">네이버</a>
        <a th:href="@{/oauth2/authorization/kakao?redirect_uri=http://112.222.157.156:5010/oauth/redirect}">카카오</a>
        <a th:href="@{/oauth2/authorization/google?redirect_uri=http://112.222.157.156:5010/oauth/redirect}">구글</a>
        <a th:href="@{/oauth2/authorization/facebook?redirect_uri=http://112.222.157.156:5010/oauth/redirect}">페이스북</a>
    </div>
</th:block>

</html>